import /init.recovery.htc_decrypt.rc

on init
    wait /dev/block/platform/soc.0/{ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/{ro.boot.bootdevice} /dev/block/bootdevice

    # exfat
    insmod /system/lib/modules/texfat.ko

on boot
    start chargeled

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

